<configuration>
	<system.runtime.remoting>
		<application>
			<client url="http:/localhost/Server">
				<wellknown type="Server.clsServer, Server" url="http://localhost/Server/server.soap" />
			</client>
			<channels>
				<channel type="System.Runtime.Remoting.Channels.Http.HttpChannel, System.Runtime.Remoting" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="Server.clsServer, Server" objectUri="server.soap" />
			</service>
			<channels>
				<channel ref="http" />
				<serverProviders>
					<formatter href="binary" />
				</serverProviders>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>-->

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>-->