<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="Server.clsServer, Server" objectUri="server.soap" />
			</service>
			<channels>
				<channel ref="http" />
				<serverProviders>
					<formatter href="binary" />
				</serverProviders>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
